<div class="container" style="width: 60vw;">
  <div class="card p-5 mt-5 shadow-lg rounded d-border">
    <div class="row pt-3">
      <div class="col-4">
        <%= render "layouts/payments/image_payment" %>
      </div>
      <div class="col-8 px-4">
        <%= render "layouts/payments/description_payment" %>
      </div>
    </div>


        </div>
      </div>
    </div>
  </div>
</div>
