<div class="card mb-3 col-md-12 p-0" style="max-width: 800px;">
    <div class="card-title p-1 bg-info text-white text-bold ">Bienvenue</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Expedita accusantium eos sunt. Voluptatem aliquam pariatur doloribus incidunt
        qui nesciunt autem repellendus itaque officia accusamus vero,
        laudantium minus vitae aut reprehenderit!
    </div>
</div>