<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut ! Merci d'avoir commendé sur       !</h1>
    <p>
      Votre commande n°<%= @order.id %> à bien été validé.
    </p>
    <p>
      Vous aurez prochainement des informations sur l'avancé de votre commande par mail où vous pouvez consulter le status de votre commande sur votre profil.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
