<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous allez bientôt recevoir votre commande !</h1>
    <p>
      Votre commande est en cours de transport et sera bientôt livré à votre adresse au <%= @user.profile.street %> <%= @user.profile.postal_code %> <%= @user.profile.city %>.
    </p>
    <p> À très vite sur monsite.fr !</p>
  </body>
</html>
