<div class="container p-5">
	<div class="row ml-3">

		<div class="col-12 ml-5">
					<%= link_to new_administration_item_path do %>
			<p class="btn btn-info mt-4"><i class="fas fa-plus fa-3x"></i></p>
			<% end %>
		 <%= render "table_row" %>

		</div>
	</div>

</div>
