<h1>Edit user</h1>

<%= form_for [:administration, @user] do |f| %>

  <div class="form-group">
    <label>user email</label>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Is user admin ?</label>
    <%= f.text_field :admin, class: 'form-control' %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Update user</button>
  </div>

<% end %>
