<main class="content">
	<div class="container p-5">

		<div class="row ml-3">
			<div class="col-10 ml-5">
			<p class="mt-4 py-2 text-secondary font-weight-bold h4">Clients</p>
				<div class="card card-admin">

					<input type="text" id="myInput" onkeyup="searchBarTables()" placeholder="Rechercher un client par adresse email..." title="Rentrer une adresse email">

					<div class="table-responsive">
						<table id="myTable" data-toggle="table" class="table table-striped table-hover">
							<thead>
								<tr>
									<th data-sortable="true">Id</th>
									<th data-sortable="true">Email</th>
									<th data-sortable="true">Admin ?</th>
									<th data-sortable="true">Edition</th>
									<th data-sortable="true">Suppression</th>
								</tr>
							</thead>
							<tbody>
								<% @users.order(:id).each do |user| %>
									<%= render partial: "administration/users/table_row", locals: {user: user} %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
</main>
