<main class="content">
	<div class="container p-5">

		<div class="row ml-3">
			<div class="col-10 ml-5">
			<p class="mt-4 py-2 text-secondary font-weight-bold h4">Clients</p>
				<div class="card card-admin">
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th>Email</th>
									<th>Admin ?</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @users.order(:id).each do |user| %>
									<%= render partial: "administration/users/table_row", locals: {user: user} %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
</main>
