    <h2 class="font-weight-bold">
      <%= @item.name %>
    </h2>
    <div class="h4 py-2">
      <%= @item.description %>
    </div>
    <div class="content-product">

    <b class="font-weight-bold"> Effets :</b>
      <p>Lorem ipsum dolo ksnfkqn sefokgokre</p>

      <b class="font-weight-bold"> Compositions :</b>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      liquid architecto nisi iste reiciendis facere? Soluta sit optio illum laboriosam 
      quia officiis saepe cupiditate voluptas earum hic?</p>
    </div>





