<h2 class="font-weight-bold text-info">
  <%= @item.name %>
</h2>
<div class="h4 py-2">
  <%= @item.description %>
</div>
<div class="content-product">

  <b class="font-weight-bold"> healing effects :</b>
  <div class="">

    <%= @item.categories.alphabet.map { |category| 
link_to(category.name, home_category_path(category.id), class: "text-warning") }.join(', ').html_safe %>

  </div>
</div>
