<div class="row">
  <div class="col-md-6">
    <h2 class="font-weight-bold">
      <%= @item.name %>
    </h2>
    </div>
    <div class="col-md-6">
      <% if @item.discount == true %>
      <h2 class="text-warning font-weight-bold text-right">-<%= @item.percentage_discount %>%</h2>

      <% end %>
    </div>
  </div>

    <div class="h4 py-2">
      <%= @item.description %>
    </div>
    <div class="content-product">

    <b class="font-weight-bold"> Soigne :</b>
      <p><% @item.categories.each do |category| %><%= link_to(category.name, home_category_path(category.id)) %> / <% end %></p>
    </div>
