<% if @item.discount == false %>

<h3 class="font-weight-light text-warning">
    <%= @item.price %>€
</h3>

<% else @item.discount == true %>
<p><span class=" h4 font-weight-light">
        <%= @item.reduced_price%>€</span>
    <span class="h5 font-weight-light"><strike class="text-muted"><%= @item.price %>€</strike></span></p>

<% end %>

<% end %>
