       <% if @item.discount == false %>

          <h3 class="font-weight-light text-warning">
              <%= @item.price %>€
          </h3>

         <% else @item.discount == true %>

         <h4 class="font-weight-light warning">
            <%= @item.price %>€
          <%= @item.reduced_price%> € (-
        <%= @item.percentage_discount %> %)
        </h4>
        
    <% end %>

