       <% if @item.discount == false %>

          <h3 class="font-weight-light">
              <%= @item.price %>€
          </h3>

         <% else @item.discount == true %>
         <h4 class="font-weight-light">
            <strike class="text-muted"><%= @item.price %>€</strike>
          <%= @item.reduced_price%>€
        </h4>

    <% end %>
