
    <h4 class="display-4"> MEILLEURES VENTES :</h4>
      <% @most_popular_items.each do |item| %>
  
              <img  src="<%= image_url(item.image_url) %>" alt="<%= item.name %>" width="300"  height= "200">
 
                <p class="lead"><%=item.name%></p>
                <%= link_to home_item_path(item.id) , class: "cbutton cbutton--effect-ivana" do %>
                  <span class="font-weigh-bold btn btn-info btn-lg">Découvrir</span>
                <% end %>

      <% end %>
  </div>



