<div class="jumbotron jumbotron-fluid bg-navbar mb-5" style="width: 100%">


  <div class="container">

    <h1 class="display-4 jumbo-title">#FEATURED</h1>
    <p class="lead">Sunny days and energy looks are here again !</p>
    <hr class="my-4">
    <p class="text-info">Click and discover the days's green food</p>
          <%= link_to("#", class: "navbar-brand") do %>
        <button class="cbutton cbutton--effect-ivana">
          <span class="font-weigh-bold btn btn-info btn-lg">Learn more</span> 
        </button>
      <% end %>
  </div>
  <!-- /.container -->
</div>
<!-- /.jumbotron -->