<div class="row">

      <div class="col-lg-3">
          <%= render "layouts/landing/product_categories" %>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <%= render "layouts/landing/product" %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
