<div class="row pt-5">

      <div class="col-lg-3">
          <%= render "layouts/landing/product_categories" %>
      </div>

      <div class="col-lg-9">
       <div class="row">
          <%= render "layouts/landing/product" %>
        </div>

      </div>

    </div>
    <% if current_user %>
	    <%= render "layouts/landing/checkout_cart" %>
      <%= javascript_include_tag 'checkout_cart' %>
  <% end %>
