
<!-- Full Page Image Header with Vertically Centered Content -->


  <div class="container">

    <h1 class="display-4 jumbo-title" align="center"><%= @category.name %> </h1>
  </div>
  <!-- /.container -->
<!-- /.jumbotron -->

