<main class="content">
	<div class="container-fluid p-5">
    <div class="row">
			<% @categories.each do |category| %>
			<div class="card col-md-4">
				<%= link_to(home_category_items_path(category.id)) do %>
				<%= category.name %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</main>
