<h1>Welcome in your profile <%= current_user.profile.first_name%></h1>

<div class="card">
    <div class="card-title">    
        title
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>