<div class="row my-5">
    <h1>Votre profil </h1>

    <div class="card">
    <div class="card-title">
    title
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= @profile.first_name %> </li>
        <li class="list-group-item"> <%= @profile.last_name %> </li>
        <li class="list-group-item"> <%= @profile.phone_number %> </li>
        <li class="list-group-item"> <%= @profile.delivery_address %> </li>
      </ul>
    </div>
    </div>
</div>
