<div class="container p-5">
  <div class="row ml-3">

    <div class="col-12 ml-5">
      <p class="mt-4 py-2 text-secondary font-weight-bold h4">Commandes</p>

     <%= render "table_row" %>
    </div>
  </div>

</div>
