.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton__icon {
	display: block;
}

.cbutton__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

.cbutton--box {
	width: 24px;
	height: 24px;
	border: 4px solid rgb(22, 35, 47);
}

.cbutton--box-color-1 {
	background: #ff8b00;
}

.cbutton--box-color-2 {
	background: #b61854;
}

.cbutton--box-color-3 {
	background: #1d5cab;
}

.cbutton--box-color-4 {
	background: #f2438c;
}

.cbutton--box-color-5 {
	background: #ff6414;
}

.cbutton--box-color-6 {
	background: #5ed500;
}

.cbutton--box-color-7 {
	background: #0077ff;
}

.cbutton--box-color-8 {
	background: #7bff00;
}

.cbutton--box-color-9 {
	background: #fff;
}


/* Effect Boris */

.cbutton--effect-boris::after {
	background: rgba(111,148,182,0.1);
}

.cbutton--effect-boris.cbutton--click::after {
	animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}




/* Nikola */
.cbutton--effect-nikola::after {
	background: rgba(111,148,182,0.1);
}

.cbutton--effect-nikola.cbutton--click::after {
	-webkit-animation: anim-effect-nikola 0.5s forwards;
	animation: anim-effect-nikola 0.5s forwards;
}

@-webkit-keyframes anim-effect-nikola {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.2, 0.2, 1);
		transform: scale3d(0.2, 0.2, 1);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}

@keyframes anim-effect-nikola {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.2, 0.2, 1);
		transform: scale3d(0.2, 0.2, 1);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}
