@import "template/main";
@import "feathericon";
@import "checkout_cart";
@import "over_bootstrap";
@import "button_effect";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,700);

$warning: #f76464;

.warning {
  color: $warning;
}


.main {
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: whitesmoke;
}

// FORM FOR DEVISE

body,
html {
  height: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

a {
  line-height: 1.9;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

.nav-link {
  font-size: medium;
}


.field {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/

.number_field {
  font-size: 1em;
  width: 120px;
  padding-bottom: 3px;
}


input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  border-radius: 0;
  padding: 0;
  cursor: text;
  text-align: center;
}

.input-profile {

  font-size: 1.3em;
    color: #767575;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    font-family: inherit;
    border-radius: 0;
    padding: 0;
    cursor: text;
    text-align: left;
    width: 100%;
    box-shadow: 2px 7px 10px -5px whitesmoke;

}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

.picture {
  width: 500px;
}

.card-devise {
  min-width: 35vw;
}

.row-devise {
  height: 60vh;
}

p.subtitle-devise {
  font-size: x-small;
  color: #90c8c4;
}

a.subtitle-devise {
  font-size: small;
  color: #90c8c4;
}

.list-group-item.active {
  background-color: #75caeb;
  border-color: #6fc3e3;
}


.sticky-top-blocknav {
  top: 120px;
  height: 80vh;
  overflow-y: scroll;

}
.sticky-top-blocknav::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.sticky-top-blocknav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pagination__stick {
  position: sticky;
  top: 64px;
  z-index: 1000;
  background-color: whitesmoke;
  height: 17vh;
  box-shadow: 0px 10px 8px -10px #dfdfdf;
}

.card-items {
  border: 0px;
}

.product-grid {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1
}

.product-grid:before {
  content: "";
  height: 81%;
  width: 100%;
  background: #fff;
  // border: 1px solid rgba(0, 0, 0, .1);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease 0s
}

.product-grid:hover:before {
  opacity: 1;
  height: 100%;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.product-grid .product-image {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.product-grid .product-image a {
  display: block
}

.product-grid .product-image img {
  width: 100%;
  height: auto
}

.product-grid .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s
}

.product-grid:hover .pic-1 {
  opacity: 0
}

.product-grid .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-out 0s
}

.product-grid:hover .pic-2 {
  opacity: 1
}

.product-grid .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 35px;
  transform: scale(0);
  transition: all .3s ease 0s
}

.product-grid:hover .social {
  opacity: 1;
  transform: scale(1)
}

.product-grid:hover .product-discount-label,
.product-grid:hover .product-sale-label,
.product-grid:hover .title {
  opacity: 0
}

.product-grid .social li {
  display: inline-block
}

.product-grid .social li a {
  color: #f76464;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all .3s ease 0s
}

.product-grid .social li a:hover {
  background: #e48895;
  color: #fff
}

.product-grid .product-discount-label,
.product-grid .product-sale-label {
  background-color: rgb(247, 100, 100);
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all .3s
}

.product-grid .product-content {
  z-index: 5;
  padding: 15px;
  text-align: left
}

.product-grid .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all .3s ease 0s
}

.product-grid .title a {
  color: #414141
}

.product-grid .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block
}

.product-grid .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px
}



/* ______--___--_------_-__-

ALERT FLASH NOTiCE
______--___--_------_-__-*/
.alert {
  position: absolute;
  right: 0;
  z-index: 1040 !important;
  border-width: 0px 3px 3px 0px;
}

.alert-info {
  background-color: #d2ffed;
  border-color: #31ca97;
  font-size: 1.1rem;
  color: #228b7a;
}
